@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  src: url('./fonts/NotoSansKR-Light.otf') format('woff2'),
    url('./fonts/NotoSansKR-Light.otf') format('woff'),
    url('./fonts/NotoSansKR-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  src: url('./fonts/NotoSansKR-Regular.otf') format('woff2'),
    url('./fonts/NotoSansKR-Regular.otf') format('woff'),
    url('./fonts/NotoSansKR-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  src: url('./fonts/NotoSansKR-Medium.otf') format('woff2'),
    url('./fonts/NotoSansKR-Medium.otf') format('woff'),
    url('./fonts/NotoSansKR-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  src: url('./fonts/NotoSansKR-Bold.otf') format('woff2'),
    url('./fonts/NotoSansKR-Bold.otf') format('woff'),
    url('./fonts/NotoSansKR-Bold.otf') format('truetype');
}

* {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  border: 0;
  outline: none;
  background-color: transparent;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  border: 0;
  outline: none;
  box-shadow: none;
}

a,
button {
  cursor: pointer;
}

button,
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

button {
  padding: 0;
}
